In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\gavel\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\gavel\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import time

In [31]:
#connecting to the webdriver
driver = webdriver.Chrome("chromedriver.exe")
# driver=webdriver.Chrome(r"C:\Users\gavel\Downloads\chromedriver.exe")

In [32]:
# close the driver
# driver.close()

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [33]:
url = 'https://www.naukri.com/' 
driver.get(url)    #this will open naukari.com

In [34]:
jobsearch = driver.find_element_by_id('qsb-keyword-sugg')
jobsearch          #code for job search box

In [35]:
jobsearch.send_keys("Data Analyst") #entering data analyst into search box

In [36]:
location = driver.find_element_by_id('qsb-location-sugg')
location.send_keys("Bangalore")     #code for location search box and entering banglore into location search box

In [37]:
search = driver.find_element_by_class_name('btn')
search.click()   # clicking on click button

In [38]:
job_title = []   #creating empty lists for job title,company,location and experience
company = []
locations = []
xp = []

# extracting title,copany name,location and experience
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
xp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [39]:
# using for loop to store all desired data into lists
for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
company
for l in location_tag:
    locations.append(l.text)
for x in xp_tag:
    xp.append(x.text)

In [40]:
#note:lots of pop window comes while performing this task for better result colse all pops manually

# creating datframe
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Experience":xp[0:10],"Location":locations[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1   #this will start your indexing with 1 not with 0

JobDF

,Job Title,Company,Experience,Location
1,Senior Data Analyst,Flipkart,4-5 Yrs,Bengaluru/Bangalore
2,Data Analyst (On Contract),Rupeek Fintech Pvt Ltd,0-2 Yrs,Bangalore/Bengaluru
3,Jr . Data Analyst,Armorblox,0-2 Yrs,Bangalore/Bengaluru
4,Business Analyst / Data Analyst,GetSimpl,2-4 Yrs,Bangalore/Bengaluru
5,Hiring Business Data Analyst +ETL- Tech Mahind...,Tech Mahindra,6-10 Yrs,(WFH during Covid)
6,Data Analyst,IBM India Pvt. Limited,1-4 Yrs,Bangalore/Bengaluru
7,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bengaluru/Bangalore
8,Data Analyst,Flipkart,1-2 Yrs,Bengaluru/Bangalore
9,Data Analyst,Flipkart,1-3 Yrs,Bengaluru/Bangalore
10,Manager - Data Analyst,Genpact,5-10 Yrs,Bengaluru/Bangalore

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [41]:
driver = webdriver.Chrome("chromedriver.exe")  #initiated web driver and opening naukari.com in chrome

url = 'https://www.naukri.com/' 
driver.get(url)

In [42]:
jobsearch = driver.find_element_by_id('qsb-keyword-sugg')  #code for job search box
jobsearch

jobsearch.send_keys("Data Scientist")  #entering data scientist into job search box

location = driver.find_element_by_id('qsb-location-sugg')  #code for location search box and entering banglore into this box
location.send_keys("Bangalore")

search = driver.find_element_by_class_name('btn')  #code for click button
search.click()

In [43]:
job_title = []  #creating empty lists for desired r3esult
company = []
locations = []

#codes for job title,company name,and for locations
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")

# using loop to store all desired data into list
for i in title_tag:
    job_title.append(i.text)
# job_title
for c in company_tag:
    company.append(c.text)
# company
for l in location_tag:
    locations.append(l.text)
# locations

In [44]:
#note:lots of pop window comes while performing this task for better result colse all pops manually

#creating dataframe
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Location":locations[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

JobDF

,Job Title,Company,Location
1,Cognitive/AI Senior Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore
2,Lead Programmer - Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru
3,Senior Data Scientist,Juniper Networks,Bangalore/Bengaluru
4,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,Bangalore/Bengaluru
5,Senior Data Scientist,Ericsson Global Services,Bangalore/Bengaluru
6,Senior Data Scientist Analytics,ExecBoardinAsia,Bangalore/Bengaluru
7,Senior Staff Data Scientist,Baker Hughes,Bangalore/Bengaluru
8,Lead Data Scientist,Becton Dickinson India Pvt Ltd,Bangalore/Bengaluru
9,Jr. Data Analyst/ Jr. Data Scientist,Sejal Consulting Hub,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
10,Senior Data Scientist,Wipro,"Pune, Bangalore/Bengaluru, Delhi / NCR"

In [53]:
#for better result remove all pop's manually :-)

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

In [46]:
driver = webdriver.Chrome("chromedriver.exe")   #initiated web driver and opening naukari.com in chrome 

url = 'https://www.naukri.com/' 
driver.get(url)

In [47]:
jobsearch = driver.find_element_by_id('qsb-keyword-sugg')  #code for job search box
jobsearch
jobsearch.send_keys("Data Scientist")  #entering data scientist into job search box
search = driver.find_element_by_class_name('btn')#clicking with this code on click button
search.click()

In [50]:
# applying filters with below codes
# code for location filter
location_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]")
location_filter.click()

# code for salary filter
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [51]:
job_title = []  #creating empty lists for stroing job title,location,company name and experience
company = []
locations = []
xp = []

#scraping job title ,company name,location,experince with below codes
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
xp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

#applying loop to store desired data into empty list which we created earlier
for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
# company
for l in location_tag:
    locations.append(l.text)
for x in xp_tag:
    xp.append(x.text)

In [52]:
# creating dataframe
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Experience":xp[0:10],"Location":locations[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

JobDF

,Job Title,Company,Experience,Location
1,Project Manager | Team Leader | Senior Data Sc...,Tidyquant (OPC) Private Limited,1-5 Yrs,Remote
2,Hiring For Data Scientist,Tata Consultancy Services Ltd.,4-9 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
3,Data Scientist/ Senior Data Scientist,Newgen Software Technologies,2-5 Yrs,Noida
4,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda..."
5,Data Scientist,Teleperformance,4-9 Yrs,"Gurgaon/Gurugram, Chennai"
6,Hiring For Data Analyst / Data Scientist,Careerera,1-3 Yrs,Noida(Sector-59 Noida)
7,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, Ghaziabad, Delhi / NCR"
8,Data Scientist,ApplyBoard,3-7 Yrs,Gurgaon/Gurugram
9,Data Scientist,Whizhack Technologies pvt ltd,2-5 Yrs,Gurgaon/Gurugram
10,Data Scientist,One Mobikwik Systems Private Limited,2-5 Yrs,Gurgaon/Gurugram

In [54]:
#for better result please close all pops manually

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [89]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com' 
driver.get(url)

In [91]:
glassessearch = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
glassessearch.send_keys("Sunglasses")
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()

#please close login page manually here

# creating empty lits
brand = []
desc = []
price = []
disc = []

In [92]:
# scraping brand,price,discount,description
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for b in brand_tag:
    brand.append(b.text)
for d in desc_tag :
    desc.append(d.text)
for p in price_tag:
    price.append(p.text)
for c in disc_tag:
    disc.append(c.text)

In [93]:
import time

In [94]:
i=0   #code for next button and i<2 means next button will work till page 3 means where i will get 100 products
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'): 
        break;
    
    i=i+1

In [95]:
# creating dataframe
SunglassesDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
SunglassesDF.reset_index(drop=True,inplace = True)
SunglassesDF.index+= 1
SunglassesDF.shape
SunglassesDF

,Brand Name,Price(₹),Discount,Description
1,SRPM,₹188,85% off,UV Protection Wayfarer Sunglasses (56)
2,Elligator,₹248,90% off,UV Protection Round Sunglasses (54)
3,Fastrack,₹639,20% off,UV Protection Rectangular Sunglasses (Free Size)
4,ROZZETTA CRAFT,₹499,75% off,UV Protection Spectacle Sunglasses (Free Size)
5,PIRASO,₹200,87% off,UV Protection Aviator Sunglasses (54)
...,...,...,...,...
96,ROYAL SON,₹664,66% off,UV Protection Round Sunglasses (50)
97,Fastrack,₹719,20% off,"Polarized, UV Protection Aviator Sunglasses (58)"
98,Rich Club,₹383,61% off,UV Protection Wayfarer Sunglasses (Free Size)
99,Rich Club,₹383,61% off,UV Protection Wayfarer Sunglasses (Free Size)
100,ROYAL SON,₹711,64% off,UV Protection Sports Sunglasses (73)

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.Scrape the data for first 100 reviews.
#### 1. Rating
#### 2. Review_summary
#### 3. Full review

In [97]:
driver = webdriver.Chrome("chromedriver.exe")  #initiating webdriver and flipkart webpage
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace' 
driver.get(url)

In [99]:
viewall = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
viewall.click()

In [100]:
rev_sum = []  #creating empty list
rating = []
rev = []

In [101]:
rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    

for r in rev_sum_tag:
    rev_sum.append(r.text)
for j in rating_tag :
    rating.append(j.text)
for k in rev_tag:
    rev.append(k.text.replace("\n"," "))

In [102]:
i=0  #next button code
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<10):
    try:
        nextbtn.click()
    except:
        pass
    
    time.sleep(3) #to allow the page to load completely before scraping.
    rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for r in rev_sum_tag:
        try:
            rev_sum.append(r.text)
        except:
            pass
    for j in rating_tag :
        try:
            rating.append(j.text)
        except:
            pass
    for k in rev_tag:
        try:
            rev.append(k.text.replace("\n"," "))
        except:
            pass
    i=i+1

In [104]:
#creating dataframe
iphoneDF = pd.DataFrame({"Summary":rev_sum[0:100],"Full Review":rev[0:100],"Rating":rating[0:100]})
iphoneDF.reset_index(drop=True,inplace = True)
iphoneDF.index+= 1
iphoneDF.shape
iphoneDF

,Summary,Full Review,Rating
1,Brilliant,The Best Phone for the Money The iPhone 11 of...,5
2,Simply awesome,Really satisfied with the Product I received.....,5
3,Perfect product!,Amazing phone with great cameras and better ba...,5
4,Best in the market!,Great iPhone very snappy experience as apple k...,5
5,Worth every penny,Previously I was using one plus 3t it was a gr...,5
...,...,...,...
96,Worth every penny,Best budget Iphone till date ❤️ go for it guys...,5
97,Highly recommended,It's my first time to use iOS phone and I am l...,5
98,Simply awesome,"Excellent camera, good performance, no lag. Th...",5
99,Worth every penny,It’s been almost a month since I have been usi...,5
100,Worth every penny,"Smooth like butter, camera like fantabulous, s...",5

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [105]:
driver = webdriver.Chrome("chromedriver.exe")  #initating webdriver and opening flipkart webpage
url = 'https://www.flipkart.com' 
driver.get(url)
Sneakerssearch = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input') #search bar code
Sneakerssearch.send_keys("Sneakers")  #sending sneaker key to searchbar
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()  #clicking on click button

In [106]:
brand = []  #creating empty list
desc = []
price = []
disc = []
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")  #scraping brand,price,discount,description
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for b in brand_tag:
    brand.append(b.text)
for d in desc_tag :
    desc.append(d.text)
for p in price_tag:
    price.append(p.text)
for c in disc_tag:
    disc.append(c.text)

In [107]:
import time 

code for next button
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [108]:
# creating datafrme
SneakersDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
SneakersDF.reset_index(drop=True,inplace = True)
SneakersDF.index+= 1
SneakersDF.shape

SneakersDF

,Brand Name,Price(₹),Discount,Description
1,T-ROCK,₹359,64% off,Synthetic Leather Casual Partywear Wedding Sne...
2,PUMA,"₹2,399",40% off,Puma Smash v2 SL one8 Sneakers For Men
3,Chevit,₹425,78% off,Combo Pack of 4 Casual Sneakers With Sneakers ...
4,URBANBOX,₹247,75% off,Unique & Perfect Collection Combo Pack of 02 S...
5,Chevit,₹420,71% off,White Sneaker For Men Sneakers For Men
...,...,...,...,...
96,PUMA,"₹1,749",50% off,Sneakers For Men
97,Robbie jones,₹499,55% off,Sneakers For Men
98,Robbie jones,₹449,32% off,Comfortable & Ultra Light Weight Sneaker Sneak...
99,HRX by Hrithik Roshan,"₹2,639",25% off,Sneakers For Men
100,CHamps,₹974,73% off,Perfect & Affordable Combo Pack of 02 Pairs Sn...

### Q7: Go to the link - https://www.myntra.com/shoes
#### Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [109]:
driver = webdriver.Chrome("chromedriver.exe")  #initiating chrome driver
url = 'https://www.myntra.com/shoes'  #opening webpage
driver.get(url)

In [110]:
colour_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
colour_filter.click()  #color filter code

In [111]:
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()  #price filter code

In [112]:
brand = []#creating empty lists to store desired data init
desc = []
price = []
price2 = []
# scraping brand.price,description
brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
price_tag = driver.find_elements_by_xpath("//div[@class='product-price']//span[1]")
desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

In [113]:
import time 
# next button code
i=0
nextbtn = driver.find_element_by_class_name('pagination-next')
while(i<1):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    price_tag = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//span[1]")
    desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    
    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [116]:
price #has duplicate values
while("" in price) :
    price.remove("")

In [117]:
price

['Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 7990',
 'Rs. 10999',
 'Rs. 7599',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 12999',
 'Rs. 8999',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 11490',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 11999',
 'Rs. 8990',
 'Rs. 7699Rs. 10999',
 'Rs. 7699',
 'Rs. 8990',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 13495',
 'Rs. 8490',
 'Rs. 9999',
 'Rs. 11699Rs. 12999',
 'Rs. 11699',
 'Rs. 7499',
 'Rs. 9995',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 7990',
 'Rs. 11999',
 'Rs. 8999Rs. 11999',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 13499Rs. 17999',
 'Rs. 13499',
 'Rs. 9999']

In [119]:
#removing duplicate values
j = 0
for c in price:
    if len(c) > 12:
        del price[j]
    j += 1
    
price

['Rs. 7799',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 7990',
 'Rs. 10999',
 'Rs. 7599',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 12999',
 'Rs. 8999',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 11490',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 11999',
 'Rs. 8990',
 'Rs. 7699',
 'Rs. 8990',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 13495',
 'Rs. 8490',
 'Rs. 9999',
 'Rs. 11699',
 'Rs. 7499',
 'Rs. 9995',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 7990',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 13499',
 'Rs. 9999']

In [120]:
# creating datafreame
MyntraShoesDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Description":desc[0:100],})
MyntraShoesDF.reset_index(drop=True,inplace = True)
MyntraShoesDF.index+= 1


MyntraShoesDF

        Brand Name   Price(₹)                           Description
1             Puma   Rs. 7799             Women Magnify Nitro Shoes
2     UNDER ARMOUR   Rs. 7499            Women Charged Impulse Shft
3             Geox   Rs. 8999           Women Quilted Leather Pumps
4            MANGO   Rs. 7990        Women WovenDesign Sports Shoes
5        Cole Haan  Rs. 10999                Women Leather Sneakers
6   Tommy Hilfiger   Rs. 7599                  Women Textured Pumps
7   Onitsuka Tiger   Rs. 8999           Women Perforations Sneakers
8   Tommy Hilfiger   Rs. 7999         Women Hybrid Leather Sneakers
9            ASICS   Rs. 7999        Men Black Running Sports Shoes
10       Cole Haan  Rs. 12999           Men Wingtip Oxford Sneakers
11       Cole Haan  Rs. 11999   Men GENERATION ZEROGRAND STITCHLITE
12            Geox  Rs. 12999        Men Leather Mid-Top Flat Boots
13         Bugatti   Rs. 8999                     Men Walking Shoes
14       J.FONTINI   Rs. 7990          Men Textured Leather Loafers
15       J.FONTINI   Rs. 7990          Men Textured Leather Loafers
16    Hush Puppies   Rs. 9999          Men Leather Slip-On Sneakers
17           ASICS   Rs. 7999                     Men Running Shoes
18    Hush Puppies   Rs. 7999                    Men Leather Derbys
19            Geox  Rs. 11490             Men Leather Formal Derbys
20           Ruosh   Rs. 8990        Men Solid Leather Formal Monks
21         Bugatti   Rs. 7999                          Men Sneakers
22        DAVINCHI   Rs. 8990                          Ustraa black
23        DAVINCHI   Rs. 7990                   Solid Slip On Shoes
24        DAVINCHI   Rs. 7990            Solid Leather Formal Shoes
25            Geox  Rs. 11999                Men Leather Flat Boots
26        DAVINCHI   Rs. 8990           Men Formal Leather Slip-Ons
27     RARE RABBIT   Rs. 7699          Men Textured Leather Loafers
28        DAVINCHI   Rs. 8990       Men Solid Leather Formal Derbys
29        DAVINCHI   Rs. 7990   Men Textured Formal Leather Oxfords
30     RARE RABBIT   Rs. 9999                Men Leather Flat Boots
31    Calvin Klein   Rs. 7999              Men Solid Suede Sneakers
32        DAVINCHI   Rs. 8990   Men Textured Formal Leather Loafers
33            Nike  Rs. 13495          Women Air Zoom Vomero 16 Run
34       J.FONTINI   Rs. 8490             Men Black Leather Loafers
35            Geox   Rs. 9999             Men Leather Formal Derbys
36  ROSSO BRUNELLO  Rs. 11699            Men Leather Formal Loafers
37  Pavers England   Rs. 7499             Men Leather Driving Shoes
38            Nike   Rs. 9995         Men AIR ZOOM PEGASUS 36 Shoes
39          ADIDAS   Rs. 7999           Men Court Jam Bounce Tennis
40        DAVINCHI   Rs. 7990       Men Solid Leather Formal Derbys
41  Pavers England   Rs. 8999    Men Textured Leather Formal Derbys
42           ASICS   Rs. 9999             GEL-Cumulus Running Shoes
43       J.FONTINI   Rs. 7990                   Formal Oxford Shoes
44       Cole Haan  Rs. 11999                  Women Open Toe Flats
45          ADIDAS   Rs. 8999             Men X9000L3 Running Shoes
46       Cole Haan  Rs. 12999                        Women Sneakers
47        DAVINCHI   Rs. 8990  Men Textured Leather Formal Slip-Ons
48            Geox   Rs. 8999        Women Solid Leather Ballerinas
49          ADIDAS  Rs. 13499         Men Ultraboost X Lego Running
50           ASICS   Rs. 9999               Men Black Running Shoes

Q8: Go to webpage https://www.amazon.in/¶
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
attributes for each laptop:
1. title
2. Ratings
3. Price

In [139]:
driver = webdriver.Chrome("chromedriver.exe") #initiating chrome driver and webpage
url = 'https://www.amazon.in/' 
driver.get(url)

In [140]:
Laptopsearch = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Laptopsearch.send_keys("Laptop")  #search bar code and clicking on it
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [141]:
try:   #applying filetr here
    i7_filter = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[14]/span/a/span")
    i7_filter.click()
except:
    pass

In [142]:
try:#applying filter here
    i9_filter=driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[15]/span/a/span")
    i9_filter
except:
    pass

In [143]:
title = [] #creating empty list
price = []
Rating = []
Rating_tag = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
title_tag = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
price_tag = driver.find_elements_by_xpath("//div[@class='sg-col-inner']//span[@class='a-price-whole']")

for i in title_tag:
    title.append(i.text)
    
for r in Rating_tag :
    Rating.append(r.get_attribute("innerHTML"))
    
for p in price_tag:
    price.append(p.text)

In [144]:
del title[8] #deleting element with no price attribute to prevent price mismatch in dataframe

In [145]:
Rating

['4.0 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.0 out of 5 stars',
 '4.3 out of 5 stars',
 '3.3 out of 5 stars',
 '4.0 out of 5 stars',
 '4.6 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '3.1 out of 5 stars',
 '4.5 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.6 out of 5 stars',
 '3.9 out of 5 stars',
 '4.9 out of 5 stars',
 '3.6 out of 5 stars',
 '3.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '3.5 out of 5 stars',
 '4.4 out of 5 stars',
 '4.3 out of 5 stars',
 '4.1 out of 5 stars',
 '4 Stars &amp; Up',
 '3 Stars &amp; Up',
 '2 Stars &amp; Up',
 '1 Star &amp; Up']

In [146]:
# creating dataframe
LaptopDF = pd.DataFrame({"Laptop Name":title[0:10],"Price(₹)":price[0:10],"Rating":Rating[0:10]})
LaptopDF.reset_index(drop=True,inplace = True)
LaptopDF.index+= 1
LaptopDF

,Laptop Name,Price(₹),Rating
1,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,"89,990",4.0 out of 5 stars
2,Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...,"92,990",4.3 out of 5 stars
3,Mi Notebook Pro QHD+ IPS Anti Glare Display In...,"72,999",4.3 out of 5 stars
4,Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...,"1,03,390",4.3 out of 5 stars
5,HP Pavilion Gaming(2021) 10th Gen Intel Core i...,"89,990",4.0 out of 5 stars
6,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,"84,990",4.3 out of 5 stars
7,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"43,199",3.3 out of 5 stars
8,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,"89,990",4.0 out of 5 stars
9,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"87,990",4.6 out of 5 stars
10,HP Pavilion x360 11th Gen Intel Core i7 14-inc...,"56,790",4.2 out of 5 stars

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:

In [164]:
!pip install selenium
import selenium
from selenium import webdriver
import pandas as pd
import time

#connecting to the webdriver
driver = webdriver.Chrome("chromedriver.exe")
# driver=webdriver.Chrome(r"C:\Users\gavel\Downloads\chromedriver.exe")

Requirement already satisfied: selenium in c:\users\gavel\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\gavel\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [165]:
url = 'https://www.ambitionbox.com/' #code to got on desired webpage
driver.get(url)

In [166]:
job=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]") #going to job page
job

In [167]:
job.click()

In [168]:
search_bar=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
search_bar
search_bar.send_keys("Data Scientist")  #search bar code and endering data scientist key

In [169]:
click_=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span")
click_.click()  #clicking on click button

In [170]:
location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
location  #location search bar code

In [171]:
# b=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
# b.click()

In [172]:
search_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_loc.send_keys("Noida")  #selecting noida from drop down box

In [173]:
noida=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
noida.click()  #clciking on noida

In [175]:
# scraping company name
company_name=driver.find_elements_by_xpath("//div[@class='company-info']")
company=[]
for i in company_name:
    company.append(i.text)
company

['Ericsson India Global Services Pvt. Ltd.\n · \n4.2\nbased on 3.9k Reviews',
 'Ericsson India Global Services Pvt. Ltd.\n4.2\n(3.9k Reviews)',
 'GENPACT India Private Limited\n4.0\n(11.8k Reviews)',
 'GENPACT India Private Limited\n4.0\n(11.8k Reviews)',
 'NTT Data Business Solutions Pvt Ltd\n3.8\n(2.9k Reviews)',
 'GENPACT India Private Limited\n4.0\n(11.8k Reviews)',
 'GI Group\n4.0\n(70 Reviews)',
 'GI Group\n4.0\n(70 Reviews)',
 'GI Group\n4.0\n(70 Reviews)',
 'Steria India Ltd\n4.1\n(849 Reviews)',
 'Zyoin\n4.1\n(64 Reviews)']

In [176]:
# scraping number of days ago job posted
days=driver.find_elements_by_xpath("//span[@class='body-small-l']")
days_ago=[]
for i in days:
    days_ago.append(i.text)
days_ago[:10]

['20hr ago',
 'via naukri.com',
 '6d ago',
 'via naukri.com',
 '6d ago',
 'via naukri.com',
 '7d ago',
 'via naukri.com',
 '8d ago',
 'via naukri.com']

In [177]:
# scraping rating
rating=driver.find_elements_by_xpath("//span[@class='body-small']")
Rating=[]
for i in rating:
    Rating.append(i.text)
Rating

['4.2', '4.0', '4.0', '3.8', '4.0', '4.0', '4.0', '4.0', '4.1', '4.1']

In [178]:
# scraping dataframe
DF = pd.DataFrame({"Company_Title":company[0:10],"Days_ago":days_ago[0:10],"Rating":Rating[0:10]})
DF.reset_index(drop=True,inplace = True)
DF.index+= 1   #this will start your indexing with 1 not with 0

DF

                                        Company_Title        Days_ago Rating
1   Ericsson India Global Services Pvt. Ltd.\n · \...        20hr ago    4.2
2   Ericsson India Global Services Pvt. Ltd.\n4.2\...  via naukri.com    4.0
3   GENPACT India Private Limited\n4.0\n(11.8k Rev...          6d ago    4.0
4   GENPACT India Private Limited\n4.0\n(11.8k Rev...  via naukri.com    3.8
5   NTT Data Business Solutions Pvt Ltd\n3.8\n(2.9...          6d ago    4.0
6   GENPACT India Private Limited\n4.0\n(11.8k Rev...  via naukri.com    4.0
7                         GI Group\n4.0\n(70 Reviews)          7d ago    4.0
8                         GI Group\n4.0\n(70 Reviews)  via naukri.com    4.0
9                         GI Group\n4.0\n(70 Reviews)          8d ago    4.1
10               Steria India Ltd\n4.1\n(849 Reviews)  via naukri.com    4.1

Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. The above task will be, done as shown in the below steps:

First get the webpage https://www.ambitionbox.com/
Click on the salaries option as shown in the image. ASSIGNMENT 2
After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”. You have to scrape the data ticked in the above image.
Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
Store the data i

In [179]:
#connecting to the webdriver
driver = webdriver.Chrome("chromedriver.exe")
# driver=webdriver.Chrome(r"C:\Users\gavel\Downloads\chromedriver.exe")

In [180]:
url = 'https://www.ambitionbox.com/' 
driver.get(url)  #opening the desired webpage

In [181]:
salary=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salary.click()   #code for search box

In [182]:
job_search=driver.find_element_by_id("jobProfileSearchbox")
job_search.send_keys("Data Scientist")  #getting job pages with this code

In [183]:
button=driver.find_element_by_xpath("//span[@class='ctas-btn-medium']")
button.click()  #click on the click button

In [184]:
#scraping company name
company_name=driver.find_elements_by_xpath("//div[@class='name']")
company=[]
for i in company_name:
    company.append(i.text)
company

['Microsoft Corporation\nbased on 217 salaries',
 'Goldman Sachs\nbased on 10 salaries',
 'Flipkart\nbased on 52 salaries',
 'Amazon\nbased on 77 salaries',
 'Arcesium\nbased on 34 salaries',
 'Walmart\nbased on 77 salaries',
 'Servicenow Software Development India\nbased on 26 salaries',
 'ServiceNow\nbased on 16 salaries',
 'PayPal\nbased on 12 salaries',
 'Citrix\nbased on 10 salaries']

In [185]:
#scraping based on salary's number here
salary=driver.find_elements_by_xpath("//div[@class='name']/span")
salary_=[]
for i in salary:
    salary_.append(i.text)
salary_

# /html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div[1]/span

['based on 217 salaries',
 'based on 10 salaries',
 'based on 52 salaries',
 'based on 77 salaries',
 'based on 34 salaries',
 'based on 77 salaries',
 'based on 26 salaries',
 'based on 16 salaries',
 'based on 12 salaries',
 'based on 10 salaries']

In [186]:
avg=driver.find_elements_by_xpath("//p[@class='averageCtc']")
avg_salary=[]
for i in avg:
    avg_salary.append(i.text)
avg_salary  #here we get avg salary

['₹ 22.4L',
 '₹ 21.2L',
 '₹ 20.6L',
 '₹ 19.3L',
 '₹ 18.3L',
 '₹ 17.8L',
 '₹ 17.8L',
 '₹ 17.8L',
 '₹ 17.6L',
 '₹ 17.3L']

In [187]:
min=driver.find_elements_by_xpath("//div[@class='value body-medium']")
min_salary=[]    #here we get max and min both value of salary need to seperate it
for i in min:
    min_salary.append(i.text)
print(min_salary)
# len(min_salary)

['₹ 12.0L', '₹ 45.0L', '₹ 16.0L', '₹ 30.0L', '₹ 7.0L', '₹ 30.0L', '₹ 8.0L', '₹ 40.0L', '₹ 12.0L', '₹ 30.0L', '₹ 10.0L', '₹ 32.0L', '₹ 12.0L', '₹ 24.5L', '₹ 11.2L', '₹ 23.0L', '₹ 12.0L', '₹ 23.0L', '₹ 12.0L', '₹ 22.0L']

In [188]:
a=[]
for i in range(0,len(min_salary),2):
    a.append(min_salary[i])
a #storing min value of salary in a

['₹ 12.0L',
 '₹ 16.0L',
 '₹ 7.0L',
 '₹ 8.0L',
 '₹ 12.0L',
 '₹ 10.0L',
 '₹ 12.0L',
 '₹ 11.2L',
 '₹ 12.0L',
 '₹ 12.0L']

In [189]:
b=[]
for i in range(1,len(min_salary),2):
    b.append(min_salary[i])
b  #storing max value of salary in b

['₹ 45.0L',
 '₹ 30.0L',
 '₹ 30.0L',
 '₹ 40.0L',
 '₹ 30.0L',
 '₹ 32.0L',
 '₹ 24.5L',
 '₹ 23.0L',
 '₹ 23.0L',
 '₹ 22.0L']

In [191]:
# creating dataframe
DF = pd.DataFrame({"Company_Title":company[0:10],"based_salary":salary_[0:10],"Avg_salary":avg_salary[0:10],"max_salary":b[0:10],"min_salary":a[0:10]})
DF.reset_index(drop=True,inplace = True)
DF.index+= 1   #this will start your indexing with 1 not with 0

DF

,Company_Title,based_salary,Avg_salary,max_salary,min_salary
1,Microsoft Corporation\nbased on 217 salaries,based on 217 salaries,₹ 22.4L,₹ 45.0L,₹ 12.0L
2,Goldman Sachs\nbased on 10 salaries,based on 10 salaries,₹ 21.2L,₹ 30.0L,₹ 16.0L
3,Flipkart\nbased on 52 salaries,based on 52 salaries,₹ 20.6L,₹ 30.0L,₹ 7.0L
4,Amazon\nbased on 77 salaries,based on 77 salaries,₹ 19.3L,₹ 40.0L,₹ 8.0L
5,Arcesium\nbased on 34 salaries,based on 34 salaries,₹ 18.3L,₹ 30.0L,₹ 12.0L
6,Walmart\nbased on 77 salaries,based on 77 salaries,₹ 17.8L,₹ 32.0L,₹ 10.0L
7,Servicenow Software Development India\nbased o...,based on 26 salaries,₹ 17.8L,₹ 24.5L,₹ 12.0L
8,ServiceNow\nbased on 16 salaries,based on 16 salaries,₹ 17.8L,₹ 23.0L,₹ 11.2L
9,PayPal\nbased on 12 salaries,based on 12 salaries,₹ 17.6L,₹ 23.0L,₹ 12.0L
10,Citrix\nbased on 10 salaries,based on 10 salaries,₹ 17.3L,₹ 22.0L,₹ 12.0L